@import 'setup';
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;
// color: #592603;

body {
    font-size: 125%;
    line-height: 1.75;
    text-align: center;
    // background: url(../ezWayHomesLogo.png);
    // background-size: contain;
    // background-repeat: repeat;
    font-family: 'Playfair Display', serif;
    color: #592603;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

// ======================== HEADER SECTION STYLES

header {
    height: 100vh;
    position: relative;

    .headerBackground {
        width: 100vw;
        height: 100%;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    font-family: 'Roboto', sans-serif;

    a {
        text-transform: uppercase;
        color: #592603;
    }
}

.logo {
    width: 10rem;
}

.navLinks {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    margin: 3rem 0;

    h2 {
        width: 30%;
    }

    p {
        width: 70%;
    }
}

// ======================== GALLERY SECTION STYLES
.gallerySec {
    
    .carousel {
        height: 40rem;
        position: relative;
        
        .slide {
            position: absolute;
            inset: 0;
            opacity: 0;
            transition: 200ms opacity ease-in;
            transition-delay: 200ms;
        }

        .slide > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        .slide[data-active] {
            opacity: 1;
            z-index: 1;
            transition-delay: 0ms;
        }

        .carouselButton {
            position: absolute;
            z-index: 2;
            background: none;
            border: none;
            font-size: 2rem;
            top: 50%;
            color: rgba(255, 255, 255, .5);
            cursor: pointer;
            border-radius: .25rem;
            padding: 0 .5rem;
            background: rgba(0, 0, 0, .1);
        }

        .carouselButton:hover,
        .carouselButton:focus {
            color: white;
            background-color: rgba(0, 0, 0, .2);
        }

        .carouselButton:focus {
            outline: 1px solid black;
        }

        .carouselButton.prev {
            left: 1rem;
        }

        .carouselButton.next {
            right: 1rem;
        }
    }
}

// ======================== FORM SECTION STYLES
.contactSection {
    display: flex;
    margin: 4rem auto;
}

.formText {
    width: 40%;
    text-align: left;

    h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    .contactInfo {
        margin-top: 6rem;

        .phone, .instagram, .companyEmail {
            display: flex;
            margin-top: 2rem;
            text-align: bottom;
    
            i {
                font-size: 1.5rem;
            }
    
            p {
                margin: 0 1rem;
                
            }
        }
    }
}

.formSection {
    display: flex;
    flex-direction: column;
    width: 60%;
    background: lightslategray;
    margin-left: 3rem;
    padding: 2rem;

    input, textarea, button {
        margin: 10px 0;
    }
    
    input {
        height: 2.5rem;
    }
    textarea { 
        resize: none;
        height: 18rem;
    }

    button {
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        color: #592603;
        background: none;
        border: 1px solid #592603;
        padding: .5rem 0;
    }
}

footer {
    padding: 1rem 0;
}

@media (max-width: 480px) {
    body {
        background: none;
    }

    // h2 {
    //     margin: 0;
    // }

    .logo {
        display: block;
    }
}