@import 'setup';
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;
// color: #592603;

body {
    font-size: 125%;
    line-height: 1.75;
    text-align: center;
    // background: url(../assets/ezWayHomesLogo.png);
    // background-size: contain;
    // background-repeat: repeat;
    font-family: 'Playfair Display', serif;
    color: #592603;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

header {
    height: 100vh;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

// .layer {
//     height: ;
//     background-color: black;
//     opacity: 0.3;
    
// }

// h2 {
//     font-size: 3rem;
//     text-transform: capitalize;
//     background-color: whitesmoke;
//     border-radius: 1rem;
//     margin: 45vh 30% 0 30%;
//     font-family: 'Raleway', sans-serif;
//     color: #7c4905;
//     font-weight: 400;
//     letter-spacing: 8px;
//     text-shadow: 1px 0px 4px #7c4905, 2px 0px 4px #7c4905, 3px 0px 4px #7c4905, 2px 0px 3px #583302, 2px 3px 15px #583302, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #583302,40px 0vw 200px #583302;
// }

// .flicker-slow{
//     animation: flicker 3s linear infinite;
// }


// @keyframes flicker {
//     0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
//     opacity: .99;
//     }

//     20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
//         opacity: 0.4;
//     }
// }


// span {
//     display: block;
// }

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    font-family: 'Roboto', sans-serif;
    // height: 15vh;

    a {
        text-transform: uppercase;
        color: #592603;
    }
}

.logo {

    // display: none;
    width: 10rem;
    // margin: 0 auto;
    // padding: 2rem 0;
    // width: 30%;
}

.navLinks {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    margin: 3rem 0;

    h2 {
        width: 30%;
    }

    p {
        width: 70%;
    }
}

// ======================== Image Carousel needs work
.gallerySec {
    width: 60%;
    margin: auto;
    overflow: hidden;
    border: 5px solid black;
    position: relative;

    .gallery {
        display: flex;
        width: 100%;
        height: 500px;
        position: relative;

        .galleryImg {
            display: none;
        }

        .show {
            display: block;
        }

        img {
            width: 100%;
        }
    }

    .prevBtn {
        position: absolute;
        top: 50%;
        z-index: 10;
        left: 5%;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }

    .prevBtn:hover {
        font-size: 2rem;
    }

    .nextBtn {
        position: absolute;
        top: 50%;
        z-index: 10;
        right: 5%;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }

    .nextBtn:hover {
        font-size: 2rem;
    }
}

// ====================== Image Carousel ends here

.formSection {
    display: flex;
    flex-direction: column;
    padding: 0 15rem;

    input, textarea, button {
        margin: 10px 0;
    }
    
    input {
        height: 2.5rem;
    }
    textarea { 
        resize: none;
        height: 20rem;
    }
}








// ======================= Media Queries
@media (max-width: 480px) {
    body {
        background: none;
    }

    // h2 {
    //     margin: 0;
    // }

    .logo {
        display: block;
    }
}


// ============================= LANDING PAGE
// body {
//     font-size: 125%;
//     line-height: 1.75;
//     text-align: center;
//     background: url(../assets/ezWayHomesLogo.png);
//     background-size: contain;
//     background-repeat: repeat;
//     font-family: 'Playfair Display', serif;
//     color: #592603;
//     padding: 0;
// }

// img {
//     max-width: 100%;
//     object-fit: cover;
// }

// .logo {
//     display: none;
//     width: 14rem;
//     margin: 0 auto;
//     padding: 2rem 0;
// }

// h2 {
//     font-size: 3rem;
//     text-transform: capitalize;
//     background-color: whitesmoke;
//     border-radius: 1rem;
//     margin: 45vh 30% 0 30%;
//     font-family: 'Raleway', sans-serif;
//     color: #7c4905;
//     font-weight: 400;
//     letter-spacing: 8px;
//     text-shadow: 1px 0px 4px #7c4905, 2px 0px 4px #7c4905, 3px 0px 4px #7c4905, 2px 0px 3px #583302, 2px 3px 15px #583302, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #583302,40px 0vw 200px #583302;
// }

// .flicker-slow{
//     animation: flicker 3s linear infinite;
// }


// @keyframes flicker {
//     0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
//     opacity: .99;
//     }

//     20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
//         opacity: 0.4;
//     }
// }


// span {
//     display: block;
// }

// @media (max-width: 480px) {
//     body {
//         background: none;
//     }

//     h2 {
//         margin: 0;
//     }

//     .logo {
//         display: block;
//     }
// } 